.cards {
  perspective: 500px;
} .card {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  position: relative;
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
} .card:hover {
  transform: translateZ(0px) rotateX(0deg) rotateY(0deg);
}